<!DOCTYPE html>

<html>
<head>
    <title> Final Project</title>
    <meta charset="utf-8" />
</head>
<body style="font-family: sans-serif; font-size: 14px">
    <div>
        <ul>
            <li><a> href="#"</a>Home</li>
            <li><a> href="#"</a>About</li>
            <li><a> href="#"</a>Contact</li>
        </ul>
    </div>
</body>
</html>
